.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

h1 {
 font-family: cursive;
 font-style: italic;
 font-weight: bold;
}

h4 {
    font-weight: bold;
    font-style: normal;
}

#camera {
    width: 500px;
    height: 400px;
}